<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
    <link rel="stylesheet" href="css/homePage.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="img-logo">
            <img src="assets//rimuru.jpg">
        </div>
        <h3>Mobile Legends Hero</h3>
        <p>Costumize Hero Mobile Legends<br>
            <b>Ceritanya</b>
        </p>
        <hr />
        <p>my social Media</p>
        <div class="icons">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-github-square"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
        </div>
        <div class="btn">
            <button onclick="window.location.href='/hero'">Hero</button>
            <button onclick="profile()">Profile</button>
        </div>
    </div>
    <script>
        const profile = async () => {
            window.location.href = '/profile';
            await alert(
                'Page ini masih tahap perbaikan, sebelumnya udah bisa running tapi pas di cek lagi malah gak mau keluar di UI'
                )
        }
    </script>
</body>

</html>